body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family:Verdana, Microsoft YaHei, Simsun; background:#f1f2f7; line-height:24px; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
ol, ul { list-style:none; }
em { font-style:normal; }
input, button, select, textarea { outline:none; }
/*======== Link ========*/
a { color: #666; text-decoration:none; }
a:hover { color: #f60; text-decoration:none; }
a:active {star:expression(this.onFocus=this.blur());}
a:focus {
    outline: none;
}
.wrapper { width: 100%; margin: 20px auto 0; background:#fff;padding:15px; overflow:hidden;}
.wrapper.wra{ background:#f1f2f7; padding:0;}
.current{background:#3498db  !important;}
/*应用大界面*/
.yingWrap { margin-top: 30px; height: 70px; font-family: "微软雅黑"; font-size: 24px; color: #333; font-weight: bold; position: relative;  }
.yingWrap .ying span { height: 90px; line-height: 90px; display: inline-block; float: left; }
.yingWrap .ying .span01,.yingWrap .ying .span02{ margin-left: 20px; margin-right: 40px; }
.yingWrap .ying .span02 { margin-right: 120px; }
.yingWrap .ying .span03 { line-height: 100px; }
.yingWrap .ying .span04 { background: #54ade8; }
.yingWrap .ying .span05 { background: #ff6c60; }
.yingWrap .ying .span01 a { position: absolute; left: 154px; top: -28px; font-size: 14px; font-weight: normal; display: none; }
/*应用大界面*/
/**刘新鹤 返回码样式**/
.Return_top .Return { font-size: 24px; font-weight: bold; font-family: "微软雅黑"; color: #333; float: left; height: 50px; line-height: 50px; margin-right: 36px;  }
.Return_top ul  { height:50px; line-height: 50px; }
.Return_top ul li { float: left; margin-left: 4px; }
.Return_top ul li div { padding: 6px 20px; background:#3498db; border-radius: 5px; display: inline; color: #fff; cursor: pointer; }
/*成员添加样式*/
.member_add_table { margin-top: 40px; }

/*成员添加样式*/
.Return_btom td .btn { background: #ff6c60; border-radius: 5px; padding: 2px 26px; display: inline-block; cursor: pointer; color: #fff; margin-left:0; width:auto;}
.Return_btom td input { border: 1px solid #fff; width: 90%; float: left; }
.Return_add { width: 100px; height: 28px; text-align: center; line-height: 28px;  font-size: 14px; font-family: "微软雅黑"; background: #3498db; border-radius: 5px; color: #fff; margin-top: 2px; cursor: pointer;  }
/**刘新鹤 返回码样式结束**/

/**刘新鹤 成员权限设置样式**/
.shezhiWrap{ height:430px; }
.member_top_btn { margin-bottom: 20px; }
.member_top_btn div,.member_add_btn div,.roleWrap .rolt_btn div,.shezhiWrap .shezhi_btn div,.user_btn div { width: 150px; height: 38px; background:#3498db ; line-height: 38px; text-align: center; border-radius: 5px; display: inline-block;  }
.member_add_btn div a,.member_top_btn div a,.member_add_btn div a,.roleWrap .rolt_btn div a,.shezhiWrap .shezhi_btn div a,.user_btn div a{ color: #fff; font-size: 14px;  }
.member_center,.member_btom { width: 70%; border: 1px solid #333; }
.member_center tr,.member_btom tr { border: 1px solid #333; font-size: 14px; font-family: "微软雅黑"; color: #333;  }
.member_center tr td,.member_btom tr td { padding-left: 14px; }
.member_center tr td span,.member_btom tr td span { margin-right: 10px; float: left; }
.member_center tr td span input,.member_btom tr td span input { margin-top: 6px; float: left; }
.member_back { background: #333333; color: #fff;  }
.member_border01 { width: 16%; border-right: 2px solid #333; }
.member_border02 { width: 40px; border-right: 1px solid #333; border-left: 1px solid #333; text-align: center; }
.member_border02_02 { width: 65px; }
.member_btom { margin-top: 10px; }
/*折叠菜单样式*/
.clear { clear:both; }
.ce {  display:block; width:260px; background:rgb(50,50,50);   font-family: "微软雅黑"; font-size: 14px; }
.ce div { color: #fff; }
.ce li { border-bottom:1px solid rgb(40,40,40); border-top:1px solid rgb(90,90,90); }
.more { margin-left:36px; }
.ce li a { padding:10px 10px 10px 16px; color:white; display:inline-block; cursor:pointer; }
.ce li a:hover { background:#3498db; }
.ce li .dqian { background:none; }
.ce li .xz { background:#3498db; }
.er { display:none; width:260px; background:rgb(100,100,100); }
.er li {  border:solid rgb(140,140,140); border-width:1px 0px 0px;  }
.er li a { display:inline-block; padding:10px 10px 10px 26px; color:white; background:none; font-size:14px; font-family: "微软雅黑"; }
.er li .left_30 { padding-left: 70px; }
.er li a:hover,.er li .sen_x { background:rgb(253,83,49); }
.er .e_li a:hover,.er .e_li .sen_x {  background:#3498db; }
.thr {  background:rgb(150,150,150); display:none; }
.thr li { margin-bottom:1px; border-top:1px solid rgb(180,180,180); position:relative; }
.er .e_li .thr li a { background:none; }
.er .e_li .thr li a:hover{ background:#3498db; }
.more1 { margin-left:28px; margin-top:-4px; }
.thr_nr {  width:300px; position:absolute; top:0px; left:150px; z-index:10; border:1px solid rgb(201,201,201); display:none; }
.thr_nr h3 { font-weight:normal; font-size:18px; display:block; text-align:center;  width:100%; padding:10px 0px; }
.ti {  width:29px; height:29px; float:left;  padding-top:3px; cursor:pointer; text-align:center; margin-right:10px; margin-top:40px; margin-left:20px; }
.inpu {height:29px; }
.span { float:left; display:block; padding:4px 40px 0px 0px; color:#000; }
.tu1 { width:29px; height:29px; float:left; padding-top:3px; cursor:pointer; text-align:center; margin-right:10px; margin-top:40px; margin-left:20px;  }
.span1 { color:#f00; float:left; display:block;  padding:4px 40px 0px 0px; }
.span2 { color:#000; }
.xiu { display: inline-block; }
/*折叠菜单样式*/
/**刘新鹤 成员权限设置样式结束**/

/**刘新鹤 个人设置样式**/
.personal_wrap { padding: 40px 0px 0px 40px; }
.personal_wrap table { font-size: 14px; color: #333; font-family: "微软雅黑"; }
.personal_wrap table span  { margin-right: 30px;  }
.personal_wrap table tr { height: 50px; }
.personal_wrap table input { width: 200px; height: 33px; line-height: 33px; display:inline; }
.personal_wrap table input[name='upload_file'] {margin-left: 45px;}
.personal_wrap table p { display: inline-block; width: 202px; height: 33px; line-height: 33px; border: 1px solid #999; color: #000; background: #f0f0f0; }
.personal_wrap .personal_btn,.member_add,.delete_btn,.rolt_add_btn,.use_baocun { width: 100px; height: 25px; background:#3498db ; color: #fff; line-height: 25px; text-align: center; font-size: 14px; font-family: "微软雅黑"; border-radius: 5px; margin: 40px 0px;}
.application_wrap table p { background: #fff; }
.application_wrap table p input { width:110px; height:30px; border:1px solid #fff; }

/*上传图片样式*/
#exec_target{display:none;width:0;height:0;}
#feedback{width:1200px;margin:0 auto;}
#feedback img{float:left;width:300px;height:300px;}
.personal_upload { display: inline-block; margin-left: 12px; }
.application_wrap .personal_upload { margin-left: 45px; }
/*上传图片样式*/
/**刘新鹤 个人设置样式结束**/

/*刘新鹤-成员添加样式*/
.delete h4{ font-size: 24px; font-family: "微软雅黑"; line-height: 80px; color: #333; margin-top: 40px; }
/*刘新鹤-成员添加样式*/
/*刘新鹤-成员设置首页样式*/
.MerWrap { height: 500px; font-size: 14px; font-family: "微软雅黑"; color: #333; padding: 40px 0px 0px 40px; }
.Mer_establish { width: 130px; height: 60px; border: 1px solid #999; display: inline-block; float: left; }
.Mer_establish_01  { margin-left: 40px; height: 85px; position: relative; }
.Mer_establish_01 span { position: absolute; right: -28px; top: 0px; display: none;}
.Mer_establish img { margin: 8px 0px 0px 8px; }
.Mer_establish .Mer_right { float: right; margin: 18px 28px 0px 0px; }
.Mer_establish .Mer_right p { line-height: 16px; }
.Mer_establish_01  .quanxian { border-top: 1px solid #999; }
.Mer_establish_01  .quanxian a { font-size: 14px; font-family: "微软雅黑"; color: #333; text-align: center; display: block; }
.Mer_jia { width: 37px; height: 35px; float: left; margin-top: 20px; margin-left: 60px; }
/*刘新鹤-成员设置首页样式结束*/

/*刘新鹤-权限页面样式*/
/*角色管理样式*/
.roleWrap .rolt_btn { margin-bottom: 20px; }
.roleWrap .rolt_btn div.ccc,.shezhi_btn div.ccc,.user_btn div.ccc { background:#ccc; }
.roleWrap .rolt_btn div.cur,.user_btn div.cur{ background:#3498db  ; }
/*.roleWrap .rolt_table table { width: 40%; border: 1px solid #999; text-align: center; }
.roleWrap .rolt_table table th,.roleWrap .rolt_table table td { border:1px solid #999; }*/
.roleWrap .btn_01 { padding: 2px 14px; background: #3498db; border-radius: 5px; }
.roleWrap .btn_02,.roleWrap .btn_03 { padding: 2px 10px; background: #1abc9c; border-radius: 5px; }
.roleWrap .btn_03,.userWrap .btn_03 { background: #ff6c60; }
.roleWrap a { color: #fff; }
.roleWrap .rolt_add { display: none; }
.roleWrap .rolt_add div { margin-top: 20px; }
.roleWrap .rolt_add .rolt_mingcheng { margin-top: 40px; }
.roleWrap .rolt_add span { float: left; font-size: 14px; font-family: "微软雅黑"; color: #333; margin-right: 20px; }
.roleWrap .rolt_add input { height: 20px; }
.roleWrap .rolt_add textarea { width: 200px; height: 100px; }
/*角色管理样式*/
/**角色管理-权限设置连接页面样式**/
.shezhiWrap .guanli { font-size: 14px; font-family: "微软雅黑"; color: #333; margin-top: 20px; }
.shezhiWrap .guanli p { width: 200px; height: 24px; line-height: 24px; border: 1px solid #999; display: inline-block; margin-left: 10px; padding-left: 4px; background: #f0f0f0;  }
.shezhiWrap .shezhi_ce { position: relative; margin-top: 40px; width: 200px; }

.shezhiWrap .shezhi_ce a{ display: block; padding: 4px 10px 4px 16px; }
.shezhiWrap .shezhi_ce .shezhi,.shezhiWrap .shezhi_ce .shezhi_01,.shezhiWrap .shezhi_ce .shezhi_02,.shezhiWrap .shezhi_ce .shezhi_03 { position: absolute; left: 200px; top: 0px; width: 430px; }
.shezhiWrap .shezhi_ce .shezhi_01 { top:34px; }
.shezhiWrap .shezhi_ce .shezhi_02 { top: 68px; }
.shezhiWrap .shezhi_ce .shezhi_03 { top: 102px; }
.shezhiWrap .shezhi_ce  div { color: #333; padding-left: 10px; font-size: 14px; font-family: "微软雅黑"; }
.shezhiWrap .shezhi_ce  .bak { background: #333; color: #fff; border: 1px solid #999; }
.shezhiWrap .shezhi_ce  .yingyong { border: 1px solid #999; border-top: 0px;  }
.shezhiWrap .shezhi_ce  .yingyong .input { margin-left: 10px; }
.shezhi_ce .she_li{ background: #fff; border: 0px; }
/**角色管理-权限设置连接页面样式**/
/*用户管理页面样式*/
/*.userWrap table { width: 60%; border: 1px solid #999; font-size: 14px; font-family: "微软雅黑"; color: #333; text-align: center; margin-top: 40px;  }
.userWrap table th { border: 1px solid #999; padding: 6px 0px; }
.userWrap table td { border: 1px solid #999; padding: 6px 0px; }
.userWrap table td span { background: #3498db; padding: 2px 10px; border-radius: 5px; color: #fff;}*/
.userWrap .tab { font-size: 14px; font-family: "微软雅黑"; color: #333; margin-top: 40px; display: none; }

.userWrap .tab input { height: 24px; margin-left: 24px; }
.userWrap .mi { margin-top: 20px; }
.userWrap .mi input{ margin-left: 34px; }
.userWrap .jue select { margin-left: 6px; height: 28px; width: 146px;}
.userWrap .yong input { margin-left: 20px; }
/*用户管理页面样式*/

/*刘新鹤-权限页面样式结束*/

/*测试*/
.content .left,.content .right{
    width: 50%;
    float: left;
    border: 1px solid #ccc;
    padding-bottom:10px;
}
.content .right{
    margin-left:-1px;
}
.content .left ul{
    width: 70%;
    margin: 0 auto;
}
.content .left ul li{
    height: 50px;
}
.content .left span{
    float: left;
    height: 34px;
    line-height: 34px;
    display: block;
    width: 25%;
}
.content .left table{
    margin-left: 87px;
}
.content .left table tr td{
    text-align: center;
    border:1px solid #adb2b6;
    height: 30px;
    width: 178px;
}
.left01{
    margin-top:10px;
}
.left02{
    margin-top: 20px;
}
.btn.col_bao_02{
    margin-left: 87px;
    width: 92px;
}
.left02 h4{
    font: 24px "微软雅黑";
    margin-left: 87px;
    margin-top: 20px;
}
.left02 .l01 .form-control{
    width: 360px;
    margin-left: 87px;
    height: 145px;
    margin-top: 30px;
}
.l02{
    margin-top: 30px;
}
.l03{
    float: right;
    margin-top: 50px;
}
.l03 .btn{
    margin-right:10px;
    width: 105px;
}
.wrap ul li{
    cursor:pointer;
}
.tabWrap{
    display: none;
}
.right .wrap{
    margin: 10px auto 0;
}
.right .nav ul li{
    float: left;
    width: 120px;
    height: 34px;
    background-color: #bdc3c7 ;
    border-color: #3498DB;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
}
.qiehuan{
    /*width: 90%;*/
    margin: 20px auto 0;
}
.tabWrap ul li{
    width: 98%;
    color: #000;
    font-size: 14px;
    line-height: 34px;
    border: 1px solid #3498DB;
    padding-left: 20px;
    margin:0 auto;
}
.r001{
    float: left;
}
.r001 .btn{
    margin-left: 10px;
    width: 118px;
}
/*.r01{
	float: left;
}*/
.r002{
    float: left;
    margin-left: 20px;
}
.r002 .sou{
    width: 31px;
    height: 34px;
    background: #3798db url(../img/sousuo_03.png) no-repeat center;
    border: 1px solid #858585;
}
.tabh .xianshi01,.tabh .xianshi02{
    display: none;
    width:98%;
    margin:0 auto;
}
.rztable{
    margin-top:20px;
}
/*监控内容*/
.content_t h4{
    color: #333333;
    font-family: "Arial Negreta","Arial";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}
.content_c{
    height: 35px;
    margin-top: 30px;
}
.content_c ul li{
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
.content_c .btn{
    width: 100px;
    margin-left: 0;
}
.content_x .btn{
    margin-left: 10px;
}
.content_x{
    height: 35px;
    margin-top: 30px;
}
.content_x ul li{
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
.content_z{
    margin-top: 30px;
    margin-left: 10px;
}
/*.content_z table tr td{
	width: 8%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
}
.content_z .btn{
	margin-left: 0;
}*/
.tanheic{
    position: fixed;
    top: 35%;
    left: 35%;
    width: 250px;
    height: 200px;
    border: 1px solid #666;
    display: none;
    background: #fff;
}
.tanheic h4{
    width: 250px;
    height: 150px;
    text-align: center;
    line-height: 170px;
}
.tanheic ul li{
    height: 30px;
    width: 120px;
    float: left;
}
.tanheic .btn{
    margin-left: 0;
    display: block;
    margin: 0 auto;
}
/*监控联系人*/

/*.concacts{
	width: 80%
}*/
.concacts .nav ul li{
    float: left;
    width: 150px;
    height: 34px;
    background-color: #3498DB;
    border-color: #3498DB;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
}
/*.concacts .qiehuan{
	margin-top: 50px;
	margin-left: 10px;
}
.concacts .qiehuan table tr td{
	width: 6%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
}
.concacts .qiehuan table tr td a{
	color: #666;
}
.concacts .qiehuan .btn{
	margin-left: 0;
	width: 50%;
	color: #fff;
}*/
.tanc{
    position: fixed;
    position: absolute;
    left: 35%;
    top: 25%;
    display: none;
    width: 350px;
    height: 350px;
    background: #fff;
    border: 1px solid #666;
    padding-left: 10px;
}
.tanc .tancc{
    width: 300px;
    margin:0 auto;
    margin-top: 25px;
}
.tanc .tancc ul li span{
    width: 30%;
    display: block;
    float: left;
}
.tanc .tancc ul{
    height: 180px;
}
.tanc .tancc ul li{
    margin-top: 30px;
}
.tanc .tancc .form-control{
    width: 60%;
}
.tanc .tancc .dian{
    clear: both;
}
.tancc .tanccc ul{
    height: 40px;
}
.tanccc ul li{
    float: left;
    width:100px;
    height: 30px;
}
/*监控日志*/

/*编辑*/
.bianji{
    height: 50px;
}
.bianji ul li{
    float: left;
    width: 150px;
    height: 34px;
    background-color: #3498DB;
    border-color: #3498DB;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
}
.bianji .btn{
    margin-left: 0;
    width: 150px;
}
.bianji01{
    width: 50%;
    height: 260px;
}
.bianji01 ul li{
    margin-top: 20px;
}
.bianji01 li span{
    float: left;
    height: 34px;
    line-height: 34px;
    display: block;
    width: 10%;
}
.bianji01 .form-control{
    width: 70%;
}
.bianji01 .dian span{
    width: 20%;
}
.bianji01 .dian1{
    clear: both;
}
.bianji02 .btn{
    margin-left: 0;
}
/*时间日期插件*/
.box{width:170px; margin:0 auto;}
.box a{padding-right:20px;}
.layinput{height: 34px;line-height: 22px;width: 150px;margin: 0;}
/*黑名单*/
.heitou{
    height: 60px;
}
.heitou h4{
    float: left;
    color: #333333;
    font-family: "Arial Negreta","Arial";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}
.heitou span{
    margin-left: 50px;
}
/*.heinei{
	width: 90%
}*/
/*.heinei table tr td{
	width: 10%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
}*/
.heinei .btn{
    margin-left: 0;
}
/*登录日志、操作日志、接口访问日志*/
/*.log{
	width: 90%;
}*/
.logtou h4{
    color: #333333;
    font-family: "Arial Negreta","Arial";
    font-size: 24px;
    /*font-style: bold;*/
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}
/*.logcon{
	width: 90%;
}*/
.logcon table{
    margin-top: 20px;
}
/*.logcon table tr td{
	width: 5%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
}*/
.logdi{
    width: 90%;
    height: 100px;
}
.logdi ul{
    float: right;
    margin-top: 30px;
}
.logdi ul li{
    float: left;
}
.logdi .zijia{
    width: 25px;
    height: 25px;
}
/*菜单管理*/
/*----------------------接口管理-----------------------*/

.bbinfo{
    width:15%;
    float:left;
    background:#fff;
    min-height: 1000px;
}
.search{
    width:95%;
    margin:10px auto 0;
}
.banben{
    height:28px;
    width:60%;
}
.sh,.add,.yes{
    display:inline-block;
    height:28px;
    line-height:28px;
    width:30%;
    padding:0;
}
.bbinfo h5{
    font:bold 20px/40px "微软雅黑";
    color:#000;
    text-align:center;
}
.bbinfo ul li{
    width:95%;
    margin:0 auto;
    font:14px/28px "微软雅黑";
}
/*.kind ul li{display:none;}*/
.bbinfo ul li i{
    font-style:normal;
    padding-left:5px;
}
.bbinfo ul li i:hover{
    cursor:default;
}
.bbinfo ul li .cz{
    float:right;
    display:none;
}
.bbinfo ul li:hover{background:#FFC;}
.bbinfo ul li:hover .cz{display:block;}
input[type="checkbox"], input[type="radio"].sel{
    vertical-align:text-bottom;
    margin-bottom:2px;
}
.tj{
    width:95%;
    margin:0 auto;
    display:none;
}
.add{
    margin-top:10px;
    margin-left:5px;
}
.shuru{
    display:block;
    float:left;
    width:70%;
    padding:1px !important;
    height:28px\0;
}
#yes{
    display:inline-block;
}
.kind,.jk{
    margin-left:1%;
}
.addjk{
    width:52%;
    /*width:auto;*/
    float:left;
    background:#fff;
    margin-left:1%;
    min-height:1000px;
    /*overflow-y:auto;*/

}
.jkname{
    font:14px/28px "微软雅黑";
    width:95%;
    margin:10px auto 0;
}
.name{
    height:28px\0;
}
.name,.ms{
    margin-left:5%;
    width:50%;
    padding:0 !important;
}
.ms,.json{
    border:1px solid #e2e2e4;
    color:#777;
}
.json{
    width:62%;
    margin:10px 0 auto 20px;
    height:30px;
    font:14px/30px "微软雅黑";
}
.canshu,.backcs{
    width:95%;
    margin:20px auto 0;
}
.canshu h6,.backcs h6{
    font:bold 18px/30px "微软雅黑";
    color:#000;
}
.canshu table,.backcs table{
    margin-top:20px;
}
.canshu table td,.backcs table td{
    width:10%;
    font:14px/28px "微软雅黑";
    text-align:center;
    height:28px;
    color:#000;
    padding:0!important;
}
.bg_color{
    background:#333;
}
.canshu table .bg_color td,.backcs table .bg_color td{
    color:#fff;
    padding:5px 0!important;
}
.cs{
    border:1px solid #fff !important;
    font:14px/28px "微软雅黑";
    width:100%;
    padding:0 !important;
}
.canshu table tbody tr td,.backcs table tbody tr td{
    position:relative;
    background-clip: padding-box;
}
.canshu table tbody tr .edt,.backcs table tbody tr .edt {
    display:none;
    position: absolute;
    right: -46px;
    top: 6px;
    width: 85px;
    cursor:default;

}
.canshu tbody tr:hover .edt,.backcs tbody tr:hover .edt{display:block; }
.resulttabs{
    width:95%;
    margin:20px auto 10px auto;
    border-bottom:1px solid #ddd;
}
.resulttabs  span.active{
    font:14px/28px;
    border:1px solid #ddd;
    border-bottom:1px solid #fff;
    padding: 4px 15px;
    background:#fff;
}
.cont{
    width:95%;
    margin:0 auto;
}
.cont textarea.lizi{
    width:100%;
    border:1px solid #e2e2e4;
    color:#777;
    min-height:150px;
}
.buttons{
    width:95%;
    margin:20px auto 0;
}
.save,.test{
    padding:5px 30px;
}
.hover{
    background:#FFC;
}
.jsontc.ijscontc {
 width:65%;
}
.jsontc{
    position:fixed;
    top:32%;
    right:145px;
    width:30%;
    background:#fff;
    display:none;
}
.jsontc p{
    background:#3498DB;
    text-align:center;
    font:14px/30px "微软雅黑";
    color:#fff;
}
.jsontc p span{
    display: block;
    float:right;
    width:30px;
    height:30px;
    text-align: center;
}
.jsontc p span:hover{
    cursor:pointer;
}
.jsoncont{
    width:100%;
    height:300px;
}
.load{
    width:100%;
    text-align:center;
    height:30px;
}

/*管理菜单*/
.table > tbody > tr > td, .table > thead > tr > th,.center{
    text-align:center;
}
.cont_body table{
    margin-top:20px;
}
.menuadd{
    margin-left:8px;
}
.shezhi_btn div { border-radius: 5px; display: inline-block; height: 38px; line-height: 38px; text-align: center; width: 150px; background: #3498db; }
.shezhi_btn div a { font-size: 14px; color: #fff;   }
.menuWrap .botm div { margin-top: 10px; }
.menuWrap span { font-size: 14px; font-family: "微软雅黑"; color: #333; margin-right: 10px; }
.menuWrap input { height: 30px; width: 180px; }
.menuWrap select { width: 184px; height: 30px; }
.menuWrap .botm .mingcheng { margin-top: 40px; }
.menuWrap .botm .mokuai span,.menuWrap .botm .fangfa span { margin-right: 38px; }
.menuWrap .botm .kongzhi span { margin-right: 24px; }
.menuWrap .botm .xianshi input { width: auto; height: auto; }
.menuWrap .botm .menu_baocun { background: #3498db none repeat scroll 0 0;  border-radius: 5px; color: #fff; font-family: "微软雅黑"; font-size: 14px; height: 25px; line-height: 25px; margin: 40px 0; text-align: center; width: 100px; }


/*登陆界面*/
.main{width:100%; }
.main img{width:100%;}
.login{width:600px;height:420px;margin:auto;background-color:#fff;position:fixed;top:134px;left:354px;border-radius: 6px;box-shadow: 0 0 5px #fff;}
.h3{font: 36px/40px "微软雅黑" ;margin:28px auto 20px;color:#323a46;text-align: center;width:290px;}
.h5{font: 20px/24px "微软雅黑" ;margin:20px auto 28px;color:#323a46;text-align: center;width:368px;}
.form{width:308px;margin:0 auto;}
.zb{float:left;}
.denglu{width:100%;}
.denglu input.form-control{background-color: #e7fffa;border:1px solid #889bb9; width:74%; padding:0; display:block; float:left; margin-left:10px;line-height:34px; padding-left:10px; color:#4e5a6c;}
#codeid_error{width:100%;}
#loginform-verifycode{width:52%;}
.denglu div.input-group-addon{padding:0; height:36px; line-height:34px; width:22%; float:left; background:#fff; border:none; font:18px/34px "微软雅黑"; color:#323a46;}
#logincode{border:1px solid #438eb6;border-left:0;background-color:#e7fffa; float:left;}
.form button{width:90px;height:30px;float: left;margin-top:-6px;}
.btn-login{margin:0px 14px 0 58px; background:#f37934; color:#fff; border:none;}
.form-group{margin-bottom: 24px;}
.border1 tr td { border-top:0px !important; }
.form-group{margin-bottom: 10px;height:60px;}
.help-block{margin-top:8px;text-align: center;display:block;}

/*下拉*/

.top-menu{margin:0;}
.top-menu span{font-family: "Microsoft YaHei UI", "Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;}
.top-nav ul.top-menu > li .dropdown-menu.userullist{width:216px !important;margin-top: 15px;}
.top-nav li.dropdown .dropdown-menu{float:right;right:0;left:auto;}
.dropdown-menu.extended.userullist > li{float:none;text-align:left;border-bottom: 1px solid #EBEBEB;}
.dropdown-menu.extended.userullist > li h5{background-color: #ff6c60;color: #fff;padding: 12px 15px;margin: 0;border-radius: 3px 3px 0 0;}
.dropdown-menu.extended.userullist > li:last-child{border-radius:0 0 3px 3px;border-bottom: none;}
.dropdown-menu.extended.userullist > .usersettitle{border-bottom: none;}
.dropdown-menu.extended.userullist > li > a{color:#797979;border-bottom:none !important;font-family: "Microsoft YaHei UI", "Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;font-size: 12px;}
.full-width .dropdown-menu.extended.userullist > li > a:hover{background:none !important;color:#50c8ea !important;}
.dropdown-menu.extended.userullist > li > a:hover{background:#EBEBEB !important;}
.dropdown-menu.extended.userullist > li:last-child > a:hover{background:#EBEBEB !important;border-radius:0 0 3px 3px;border-bottom: none;}
.top-nav .username{position: relative;top: 2px;font-family: "Microsoft YaHei UI", "Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;}
.userinfo .userimg{width: 40px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border: 4px solid #44576b;}
.userinfo a{padding: 10px 22px !important;}
.log-arrow-up {position: absolute;right: 17px;top: -9px; background-position: -93px 0}
.log-arrow-up i{color: #FF6C60;font-size: 28px !important;line-height: 20px;}
.dropdown-menu.extended{max-width:300px !important;min-width:160px !important;top:42px;width:235px !important;padding:0;box-shadow:0 2px 5px rgba(0,0,0,0.176) !important;border:none !important;border-radius:3px;-webkit-border-radius:3px;}
#userullist li a{padding: 15px !important;}

/*监控进度条*/
.jiankong{display:none; position:fixed; top:40%; left:35%; background:#fff; border:1px solid #CCC; width:500px; height:220px;}
.guanbi{display:block; float:right; font:18px/30px "微软雅黑"; width:30px; height:30px; text-align:center;}
.guanbi:hover{cursor:pointer;}
.barline {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #3498db;
    border-radius: 8px;
    display: none;
    float: left;
    height: 12px;
    left: 145px;
    position: absolute;
    top: 100px;
    width: 205px;
}
.barline #percent {
    color: #3498db;
    display: inline-block;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: -30px;
}
.barline #line {
    background: #3498db none repeat scroll 0 0;
    border-radius: 8px;
    float: left;
    height:8px;
    overflow: hidden;
}
.barline #msg {
    color: #3498db;
    display: inline-block;
    font-size: 14px;
    left: 80px;
    position: absolute;
    top: 30px;
}


