.video_item {
    height: 200px;
    padding:8px;
    border-radius:4px;
    border: 1px solid #e4ecf3;
    background-color: #fff;
    cursor:pointer;
    margin-bottom: 20px;
}
.video_item:hover{
    padding:6px;
    -moz-box-shadow: 5px 5px 10px gray;
    -webkit-box-shadow: 5px 5px 10px gray;
    -o-box-shadow: 5px 5px 10px gray;
    box-shadow: 5px 5px 10px gray;
}
.video_item img {
    height: 150px;
    width: 100%;
    border-radius:4px;
}

.video_info {
    height: 40px;
    line-height: 40px;
    color: #313131 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover{
    color: #70d445 !important;
}

/** player_screen page**/
.video_language{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.video_description{
    margin-top:20px;
}
.video_language strong{
    cursor:pointer;
}

#translate_word_detail{
    padding:5px;
    min-height:100px;
    width:300px;
    border:2px solid #CCCCCC;
    position: fixed;
    right:10%;
    top:249px;
    z-index: 999;
    border-radius: 3px;
    display:none;
    overflow: hidden;
    background: #fff;
    cursor:pointer;
}
#translate_word{
    height:30px;
    line-height: 30px;
    overflow: hidden;
    font-weight: bold;
    color:#c7254e;
}

#translate_explain{
    overflow: hidden;
    text-indent: 1em;
    /*color:#268bd2;*/
}


