.video_item {
    height: 200px;
    padding:8px;
    border-radius:4px;
    border: 1px solid #e4ecf3;
    background-color: #fff;
    cursor:pointer;
    margin-bottom: 20px;
}
.video_item:hover{
    padding:6px;
    -moz-box-shadow: 5px 5px 10px gray;
    -webkit-box-shadow: 5px 5px 10px gray;
    -o-box-shadow: 5px 5px 10px gray;
    box-shadow: 5px 5px 10px gray;
}
.video_item img {
    height: 150px;
    width: 100%;
    border-radius:4px;
}

.video_info {
    height: 40px;
    line-height: 40px;
    color: #313131 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover{
    color: #70d445 !important;
}


